{%extends 'base.html'%}

{%block content%}

<form class="row g-5 mx-auto" action="/signin" method="post">
  {%csrf_token%}
<div class="card border-secondary mb-3 mx-auto" style="max-width: 18rem;">
  <div class="card-header">Sign In</div>
  <div class="card-body text-secondary">
    <h5 class="card-title">
      <div>
      <label  class="form-label">User Name</label>
      <input type="text" class="form-control" placeholder="Enter User Name" aria-label="Last name" name="username">
      </div>
    </h5>
    <h5 class="card-title"> 
      <div>
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Your Password" name="password">
      </div>
    </h5>
    <h5 class="card-title">
      <button class="btn btn-secondary" type="submit">Sign In</button>
    </h5>
    <p class="card-text">{% for message in messages %}
      <div style="text-align: center;">
      <div class="alert alert-{{message.tags}} alert-dismissable fade show" role = "alert">
      <strong class="text-center text-danger" style="text-align: center;">{{message}}</strong> 
      </button>
      </div>
      </div>
</form>
      {%endfor%}</p>
{%endblock%}